*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  margin: 0;
}

body{
  font-family: 'Inter', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

header img{
  width: 45px;
  height: auto;
}

.header-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo-text{
  font-weight: bold;
  font-size: 2rem;
}

.userAction{
  display: flex;
  align-items: center;
  gap: 10px;
}

.userAction button{
  border-radius: 10px;
}

.cart-item-number{
  position: absolute;
  color: white;
  font-weight: bold;
  transform: translate(20px, 55%);
  z-index: 1;
}

.cart-logo{
  position: relative;
}

main{
  flex: 1;
  margin-block: 1em;
}

main ul.productList{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

main ul.productList li{
  background-color:#e7f6f4;
  border-radius: 10px;
}

.itemCard{
  max-width: 180px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.itemCard-img{
  width: 100%;
  border-radius: 10px;
}

.itemCard-content h2{
  margin-top: 0;
}

.itemCard-content p{
  font-size: .9rem;
  margin: 0;
  padding-inline: 5px;
}

.itemCard-footer button{
  width: 100%;
  border-radius:0 0 10px 10px;
}

button{
  border: none;
  background-color: #b3e0dc;
  padding: 15px;
  cursor: pointer;
}

button:hover{
  background-color: color(srgb 0.701961 0.878431 0.862745 / 0.5);
}

.cartListWrapper{
  background-color: #13284D;
  /* color: white; */
  transform: translate(800px,-800px);
  /* max-width: 550px; */
  min-width: 25vw;
  min-height: 50vh;
  height: auto;
  border-radius: 10px;
  margin-top: 2em;
  z-index: 1;
  position: absolute;
}

.cartListWrapper h2{
  color: white;
}
.cartScreen{
  backdrop-filter: blur(4px);
    border-radius: var(--medium-radius);
    content: "";
    background-color: rgb(from var(--light-blue) r g b /.25);
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -10px;
    right: -10px;
    z-index: 1;
}

ul.cartList{
  list-style: none;
  padding: 0;
}

li.cartListItem{
  display: flex;
  justify-content: space-evenly;
  padding-block: 15px;
  border-bottom: 1px solid white;
}

.cartListItem img{
  width: 200px;
}

.cartCloseBtn{
  margin-bottom: 10px;
  border-radius: 10px;
}


.cartUpdateBtn{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 10px;
  margin: 2em;
}

.cartUpdateBtn button{
  border-radius: 10px;
}

footer{
  position:sticky;
  background-color: #13284D;
  padding-bottom: 1em;
  color: white;
}

footer a{
  color: white;
}